// $primary: #f42f43;
$primary     : #480b0e;
$accent      : #bada55;
$secondary   : #ff273e;
$font_one    : #321215;
$background  : #f5f7fa;
$elevation-1 : drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));

.custom-appbar {
  border-radius: 0px 0px 10px 10px !important;
}

main {
  background-color: $background;
}

ul {
  list-style  : none;
  margin      : 0;
  padding-left: 0 !important;
}

.v-sheet.v-app-bar.v-toolbar {
  z-index: 300;
}

.ws-btn {
  position     : fixed;
  bottom       : 65px;
  right        : 45px;
  z-index      : 500;
  border-radius: 100%;
  border       : 4px solid white !important;

  .ws-icon {
    width : 45px;
    height: auto;
  }
}

.cm-round-1 {
  border-radius: 10px !important;
}

.cm-elevation-1 {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1) !important;
}

.page-layout-1 {
  max-width : 1710px;
  margin-top: 114px;
}

.block-section {
  min-height: calc(100vh - 114px);
}

.img-fluid {
  width : 100%;
  height: auto;
}

.cursor-pointer {
  cursor: pointer !important;
}

.bg-img {
  background-position: center;
  background-size    : cover;
  background-repeat  : no-repeat;
}
