// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

// $primary: #f42f43;
$primary      : #ce1f24;
$accent       : #bada55;
$secondary    : #ff273e;
$font_one     : #321215;
$background   : #f5f7fa;
$elevation-1  : drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));
$appBar-height: 114px;

.custom-appbar {
  border-radius: 0px 0px 10px 10px !important;

  &--auth {
    z-index: 10 !important;
  }
}

.v-snack__wrapper {
  @media (max-width: 414px) {
    min-width: unset;
  }
}

.title-text {
  @media (max-width: 414px) {
    font-size: 18px;
  }
}

.description-text {
  @media (max-width: 414px) {
    font-size  : 12px;
    line-height: 1.75;
  }
}


.custom-appbar>.v-toolbar__content,
.custom-appbar {
  height: $appBar-height !important;

  @media (max-width: 414px) {
    // height: 54px !important;
    height: 94px !important;
  }
}

main {
  background-color: $background;
}

ul {
  list-style  : none;
  margin      : 0;
  padding-left: 0 !important;
}

.v-sheet.v-app-bar.v-toolbar {
  // z-index: 300;
}

.ws-btn {
  position        : fixed;
  bottom          : 45px;
  right           : 45px;
  z-index         : 6;
  display         : flex;
  flex-direction  : column;
  align-items     : flex-end;
  // border-radius: 100%;
  // border       : 4px solid white !important;

  .ws-icon {
    width : 45px;
    height: auto;
  }

  @media (max-width: 414px) {
    bottom: 15px;
    right : 15px;

    .ws-icon {
      width : 25px;
      height: auto;
    }
  }

  .join-btn {
    // margin-top: calc(30px - 1rem);
    z-index   : 4;
    position  : relative;
    margin-top: 1rem;

    img {
      max-width: 250px;
      width    : 100%;
      height   : auto;
    }

    .v-btn {
      background   : #fefefe;
      border       : 5px solid #e9e9e9;
      box-sizing   : border-box;
      border-radius: 50px;
      height       : 54px !important;
      min-width    : 250px !important;
      box-shadow   : 0 0 0 5px hsl(0, 0%, 80%), 0 0 0 15px $primary,
        0 0 0 15px $primary;
      filter: drop-shadow(0px 0px 10px rgba(#ffffff, 0.25));

      // padding: 0 16px;
      span {
        // width: ;
        text-transform: capitalize;
        font-weight   : 600;
        font-size     : 18px;
        line-height   : 30px;
        text-align    : center;
      }
    }
  }
}

.cm-round-1 {
  border-radius: 10px !important;
}

.cm-elevation-1 {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1) !important;
}

.page-layout-1 {
  // max-width : 1710px;
  // w
  max-width : 1600px;
  margin-top: 114px;
  width     : calc(100% - 120px);

  @media (max-width: 576px) {
    width: calc(100% - 60px);
  }

  @media (max-width: 414px) {
    width: calc(100% - 30px);
  }
}

.block-section {
  min-height         : calc(100vh - 114px);
  min-height         : 100vh;
  position           : relative;
  // height: 100vh;
  // min-height      : 768px;
  // height          : 100vh;
  // z-index   : 100;

  &--content {
    min-height: 768px;
  }
}

.row-video-wrapper {
  margin-top: 150px;

  @media (max-width: 991px) {
    margin-top: 75px;
  }
}

.img-fluid {
  width : 100%;
  height: auto;

  &--h {
    height: 100%;
    width : auto;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.bg-img {
  background-position: center;
  background-size    : cover;
  background-repeat  : no-repeat;
}

.v-dialog__content--active {
  // z-index: 305 !important;
}

.brand-image {
  width : 260px;
  height: auto;
}

@media (max-width: 576px) {
  .brand-image {
    width : 250px;
    height: auto;
  }
}

@media (max-width: 414px) {
  .brand-image {
    width : 150px;
    height: auto;
  }
}

.participants-wrapper {
  z-index               : 4;
  position              : relative;
  // margin-bottom      : 250px;
  // background-color: #bada55 !important;
}
