.layout-enter-active,
.layout-leave-active {
  transition: opacity .5s, transform .4s ease;
}

.layout-enter,
.layout-leave-active {
  opacity         : 0;
  background-color: #f4f4f4;
}

.layout-enter {
  transform: translateX(-100%);
}
