// $primary: #f42f43;
$primary     : #480b0e;
$accent      : #bada55;
$secondary   : #ff273e;
$font_one    : #321215;
$background  : #f5f7fa;
$elevation-1 : drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1));

.custom-appbar {
  border-radius: 0px 0px 10px 10px !important;
}

main {
  background-color: $background;
}

ul {
  list-style  : none;
  margin      : 0;
  padding-left: 0 !important;
}

.v-sheet.v-app-bar.v-toolbar {
  z-index: 300;
}

.ws-btn {
  position     : fixed;
  bottom       : 65px;
  right        : 45px;
  z-index      : 6;
  border-radius: 100%;
  border       : 4px solid white !important;

  .ws-icon {
    width : 45px;
    height: auto;
  }
}

.cm-round-1 {
  border-radius: 10px !important;
}

.cm-elevation-1 {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1) !important;
}

.page-layout-1 {
  // max-width : 1710px;
  // w
  max-width : 1600px;
  margin-top: 114px;
  width     : calc(100% - 120px);

  @media (max-width: 576px) {
    width: calc(100% - 60px);
  }

  @media (max-width: 414px) {
    width: calc(100% - 30px);
  }
}

.block-section {
  min-height         : calc(100vh - 114px);
  min-height         : 100vh;
  // height: 100vh;
  // min-height      : 768px;
  // height          : 100vh;
  position           : relative;
  // z-index   : 100;

  &--content {
    min-height: 768px;
  }
}

.row-video-wrapper {
  margin-top: 150px;

  @media (max-width: 991px) {
    margin-top: 75px;
  }
}

.img-fluid {
  width : 100%;
  height: auto;

  &--h {
    height: 100%;
    width : auto;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.bg-img {
  background-position: center;
  background-size    : cover;
  background-repeat  : no-repeat;
}

.v-dialog__content--active {
  // z-index: 305 !important;
}

.brand-image {}

@media (max-width: 576px) {
  .brand-image {
    width : 250px;
    height: auto;
  }
}

@media (max-width: 414px) {
  .brand-image {
    width : 150px;
    height: auto;
  }
}
